.container{
    width: 100%;
    
}

.nav-bar{
    background-color: #0080ff;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
}

.nav-bar .logo img{
    width: 150px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-bar .links_paginas ul{
    display: flex;
    text-align: center;
    list-style: none;
}

.nav-bar ul li a{
    background-color: red;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
}

.nav-bar ul li a:hover{
    color: #000;
    font-size: 20px;
    text-shadow: 1px 5px 10px #000;
}
 .banner{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .banner img {
     width: 100%;
 }

 .historia{
     width: 70%;
     margin: auto;
     display: block;
 }

 h2{
     text-align: center;
 }
 .historia p {
     text-align: justify;
 }

 .colaboradores {
     text-align: center;
 }

 .colaboradores .cards{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-around;
     padding: 100px 0;
 }

 .colaboradores .cards img{
     width: 80px;
 }